* {
    box-sizing: border-box;
}

html {
    background-color: #F5F5F5;
}

.headLogo {
    display: block;
    margin: auto;
    justify-content: center;
    height: auto;
    max-width: 40vw;
}

nav ul {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    padding-right: 100px;
}

nav ul li {
    display: inline-block;
    margin-left: 100px;
}

nav ul li a {
    text-decoration: none;
    font-family: "Overpass", sans-serif;
    color: #000000;
}

.mainPost {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

.mainPost img {
    max-width: 50vw;
    height: auto;
}

.mainPost .mainDescription {
    background-color: #ffffff;
}

.mainPost .mainDescription h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: normal;
    color: #000000;
    margin-left: 20px;
    font-size: calc(1em + 2vw);
}

.mainPost .mainDescription small {
    font-family: "Barlow", sans-serif;
    color: #000000;
    margin-left: 20px;
}

.mainPost .mainDescription h2 {
    font-family: "Barlow Condensed", sans-serif;
    color: #ff0068;
    font-size: small;
    margin-left: 20px;
}

.mainPost .mainDescription p {
    margin-left: 20px;
}

.articles {
    margin: auto;
    padding: 10%;
}

.card {
    background: white;
    margin-bottom: 2em;
}

.articles img {
    display: block;
    width: 100%;
    height: auto;
}

.articleDescription {
    background-color: #ffffff;
    padding: 1.4em;
}

.articleDescription h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: normal;
    color: #000000;
    font-size: calc(1em + 1vw);
    text-align: center;
}

.articleDescription p {
    font-family: "Barlow", sans-serif;
    color: #000000;
    text-align: center;
}

.articleDescription h2 {
    font-family: "Barlow Condensed", sans-serif;
    color: #ff0068;
    text-align: center;
    font-size: small;
}

footer {
    background-color: black;
    color: white;
    line-height: 1.5;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
    text-align: center;
}

footer li {
    text-align: center;
}

.footerMain {
    width: 100vw;
}

.footerColumn1 {
    margin: 50px auto auto auto;
}

.footerColumn2 {
    margin: -15px auto auto auto;
}

.footerColumn3 {
    margin: auto;
}

footer .footerColumn1 ul {
    list-style: none;
}

footer .footerColumn2 ul {
    list-style: none;
}

footer .footerColumn3 ul {
    list-style: none;
}

footer img {
    width: 250px;
    margin: auto;
}

footer .footerColumn1 img{
    margin-left: 40px;
}

.footerColumn1 ul{
    font-family: "Barlow", sans-serif;
    margin: 30px auto auto auto;
}

.footerColumn3 li{
    margin-right: 50px;
}

.footerColumn2 ul{
    position: relative;
    font-family: "Barlow", sans-serif;
    margin-bottom: 100px;
    right: 20px;
    top: -80px;
}

.footerColumn2 h2{
    font-family: "Barlow Condensed", sans-serif;
    padding-bottom: 20px;
    position: relative;
    left: 25px;
}

.footerColumn3 ul{
    font-family: "Barlow", sans-serif;
    margin-bottom: 175px;
}


.footerRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

@media screen and (max-width: 1024px) {
    .mainPost {
        display: flex;
        flex-wrap: wrap;
        width: 92%;
        margin: auto;
        padding: none;
    }

    .mainPost img {
        max-width: 100%;
        height: auto;
    }

    .card {
        flex: 0 1 calc(25% - 1em);
    }

    .articles {
        padding: 4%;
    }

    .articleDescription h1 {
        font-size: calc(1em + 2vw);
    }
}

@media screen and (min-width: 60em) {

    .articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }

}

@media screen and (max-width:897px){
    nav a {
        font-size: 2vw;
    }
    nav ul{
        margin-left: 50px;
    }

    nav ul li{
        margin-left: 15px;
    }
}

/* Phone */
@media screen and (max-width: 600px) {
    nav a {
        font-size: 2vw;
    }

    nav ul{
        margin-left: 50px;
    }

    nav ul li {
        margin-left: 15px;
    }

    .card {
        flex: 0 1 calc(25% - 1em);
    }
}

@media screen and (max-width: 1000px) {
    .footerRow {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .footerColumn1{
        margin: auto;
        padding-right: 40px;
    }

    .footerColumn2{
        margin: auto;
    }

    .footerColumn3{
        margin: auto;
    }
}