* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.nav {
    height: 100px;
    width: 100%;
    background-color: black;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
  }

.nav>.nav-header>.nav-title>a>img{
    height: 80px;
    margin-left: 30px;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 40px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    margin-right: 50px;
    font-family: "Overpass", sans-serif;
    font-size: 15px;
}

.nav>.nav-links>a:hover {
    text-decoration: underline;
    text-decoration-color: #ff0068;
}

.nav>#nav-check {
    display: none;
}


.mosaic{
    display: grid;
}

.mosaicItemInsider:first-of-type{
    grid-column: 1 / span 2;
    grid-row: 1 / span 5;
}

.mosaicItemInsider:last-of-type{
    grid-column: 1 /span 2;
    grid-row: 3 / span 5;
    width: 80%;
    margin: auto;
    background-color: white;
    padding-bottom: 40px;
}

.mosaicItemNoise:first-of-type{
    grid-column: 1 / span 2;
    grid-row: 1 / span 5;
}

.mosaicItemNoise:last-of-type{
    grid-column: 1 /span 2;
    grid-row: 3 / span 5;
    width: 80%;
    margin: auto;
    display: flex;
}


.mosaicItemNoiseDescription{
    background-color: white;
}


.mosaic h1{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: normal;
    margin-top: 40px;
    margin-left: 20px;
    font-size: calc(1em + 2vw);
}

.mosaic small{
    font-family: "Barlow", sans-serif;
    margin-left: 20px;
}

.mosaic img{
    width: 100%;
    height: auto;
}

.mosaicItemNoise:last-of-type>img{
    width: 70%;
    height: auto;
}

.mosaicItemReviews:first-of-type{
    grid-column: 1 / span 2;
    grid-row: 1 / span 5;
}

.mosaicItemReviews:last-of-type{
    grid-column: 1 /span 2;
    grid-row: 3 / span 5;
    width: 80%;
    margin: auto;
    display: flex;
}

.mosaicItemReviewsDescription{
    background-color: white;
    width: 100%;
    padding: auto;
}

.mosaicItemReviews:last-of-type>img{
    width: auto;
    height: 100%;
}

.mosaicItemArticle:first-of-type{
    grid-column: 1 / span 2;
    grid-row: 1 / span 5;
}

.mosaicItemArticle:last-of-type{
    grid-column: 1 /span 2;
    grid-row: 3 / span 5;
    margin: auto;
    width: 80%;
}

.mosaicItemArticle:last-of-type>img{
    width: 100%;
    height: auto;
}

.article{
    display: grid;
    grid-template-areas: 
    "title title title title"
    "author . . articleText";
    grid-gap: 50px;
    margin: auto;
    width: 80%;
}

.title{
    grid-area: title;
    font-family: "Barlow", sans-serif;
    font-weight: normal;
    font-size: calc(1em + 0.2vw);
}

.author{
    grid-area: author;
    font-family: "Barlow", sans-serif;
}

.author h2{
    color: #ff0068;
}

.articleText{
    grid-area: articleText;
    padding: 0px 0px 0px 100px;
    font-size: calc(1em + 0.5vw);
    font-family: "Overpass", sans-serif
}

.cyanBox{
    height: 10px;
    width: 70px;
    background-color: #ff0068;
    position: relative;
    display: inline-block;
}

.articleText i{
    margin-left: 10px;
}

@media (max-width:1024px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
        position: relative;
        top: 27px;
        right: 10px;
    }

    .nav>.nav-header>.nav-title>a>img{
        height: 60px;
        margin-top: 10px;
        margin-left: -3px;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: black;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 100px;
        left: 0px;
        z-index: 999;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 400px);
        overflow-y: auto;
    }

    .mosaicItemInsider:first-of-type{
        grid-column: 1 / span 2;
        grid-row: 1 / span 5;
    }
    
    .mosaicItemInsider:last-of-type{
        grid-column: 1 /span 2;
        grid-row: 3 / span 5;
        width: 92%;
        margin: auto;
        background-color: white;
        padding-bottom: 40px;
    }

    .mosaicItemNoise:first-of-type{
        grid-column: 1 / span 2;
        grid-row: 1 / span 5;
    }
    
    .mosaicItemNoise:last-of-type{
        grid-column: 1 /span 2;
        grid-row: 3 / span 5;
        width: 92%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .mosaicItemNoiseDescription{
        background-color: white;
        width: 100%;
        padding-bottom: 40px;
    }

    .mosaicItemNoise:last-of-type>img{
        width: 100%;
    }

    .mosaicItemReviews:first-of-type{
        grid-column: 1 / span 2;
        grid-row: 1 / span 5;
    }
    
    .mosaicItemReviews:last-of-type{
        grid-column: 1 /span 2;
        grid-row: 3 / span 5;
        width: 92%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .mosaicItemReviewsDescription{
        background-color: white;
        width: 100%;
        padding-bottom: 40px;
    }

    .mosaicItemReviews:last-of-type>img{
        width: 100%;
        height: auto;
    }

    .mosaicItemArticle:first-of-type{
        grid-column: 1 / span 2;
        grid-row: 1 / span 5;
    }
    
    .mosaicItemArticle:last-of-type{
        grid-column: 1 /span 2;
        grid-row: 3 / span 5;
        width: 92%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .mosaicItemArticle:last-of-type>img{
        width: 100%;
        height: auto;
    }

    .article{
        display: grid;
        grid-template-areas: 
        "title title title title"
        "author author author author"
        "articleText articleText articleText articleText";
        grid-gap: 50px;
        margin: auto;
        width: 92%;
    }

    .articleText{
        grid-area: articleText;
        padding: 0;
    }
}